<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceFolder" value=""/>
		<add key="DestinationFolder" value=""/>
		<add key="Template" value=".txt$"/>
		<add key="ZippedFileName" value="zipped_{date}.zip"/>
		<add key="Days" value="0"/>
	</appSettings>
</configuration>